<div class="jumbotron">
  <h1>Welcome to Blocitoff</h1>
  <p>The most amazing to-do list in the world</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Tutorial for dumbasses</a></p>
</div>