<% if item %>
    <li <%= "id=item_#{item.id}" %> >
      <%= item.name %><br/>
     
      <%= link_to "", [@list,item] , method: :delete, class: 'glyphicon glyphicon-ok',remote: true %>
    </li>
<% end %>    